# vim: ts=1:sts=2:sw=2:expandtab

version: '3.3'

services:
  lemon:
    image: ${IMAGE_TAG} # Filled by docker ci
    build: .
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - ./data:/opt/lemon/data/
      - ./.env:/opt/lemon/.env
    networks:
      - default
